@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    border: 50px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth;
}
#loading
{
    position: fixed;
    width: 150%;
    height: 100vh;
    background: #000;
    z-index: 99999;
    left: -100%;
    animation: loading1 5s;
}
@keyframes loading1
{
    0%
    {
        left: 0%;
    }
    50%
    {
        left: 0%;
    }
    100%
    {
        left: -100%;
    }
}
.scene
{
 position: relative;
 width: 100%;
 height: 100vh;
 background: #000000;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.scene i
{
 position: absolute;
 top: -250px;
 background: rgba(255,255,255,0.5);
 animation: animateStars linear infinite;
 
}
@keyframes animateStars
{
 0%
 {
  transform: translateY(0);
  
 }
 100%
 {
  transform: translateY(100vh);
  
 }
}
.scene .rocket
{
 position: relative;
 animation: animate 0.2s ease infinite;
}
@keyframes animate
{
 0%, 100%
 {
  transform: translateY(-2px);
 }
 50%
 {
  transform: translateY(2px);
 }
}
.scene .rocket::before
{
 content: '';
 position: absolute;
 bottom: -200px;
 left: 50%;
 transform: translateX(-50%);
 width: 10px;
 height: 200px;
 background: linear-gradient(#00d0ff,transparent);
}
.scene .rocket::after
{
 cont: '';
 position: absolute;
 bottom: -200px;
 left: 50%;
 transform: translateX(-50);
 width: 10px;
 height: 200px;
 background: linear-gradient(#00d0ff, transparent);
 filter: blur(20px);
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(0000.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
   font-size: 2.2em; 
   color: #fff;
   font-weight: 500;
   line-height: 1.5em;
}
.banner h2 span
{
   font-size: 1.25em; 
   font-weight: 700;
}
.banner h3
{
   font-size: 1.2em; 
   color: #fff;
   font-weight: 500;
}
.btn
{
    position: relative;
    background: #2196f3;  
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none ;
    letter-spacing: 2px;
    font-weight: 500;
}
.btn:hover
{
    background:#555;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background:#fff;
    padding-right: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo
{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 10px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.about
{
    background: #111;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 30px;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}
.contentBx p
{
    color: #fff;
}
.w50
{
    min-width: 50%;
}
img
{
    max-width: 100%;
}
.Upcoming
{
    background: #111;
}
.heading.white
{
    color: #fff;
}
.Upcoming .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.Upcoming .content .UpcomingBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.9s;
}
.Upcoming .content .UpcomingBx:hover
{
    background: #2196f3;
}
.Upcoming .content .UpcomingBx img
{
    max-width: 80px;
    filter: invert(1);
}
.Upcoming .content .UpcomingBx h2
{
    font-size: 20px;
    font-weight: 600;
}
.ourteam1
{
    position: relative;
}
.ourteam1
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.ourteam
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.ourteam .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 60px;
    box-shadow: 0 15px 35px rgb(4, 0, 255);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.ourteam .card .content1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}
.ourteam .card:hover .content1
{
    opacity: 1;
    transform: translateY(-20px);

}
.ourteam .card .content1 .imgBx
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.ourteam .card .content1 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourteam .card .content1 .content1Bx h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.ourteam .card .content1 .content1Bx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial
}
.ourteam .card .sym
{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.ourteam .card .sym li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.ourteam .card:hover .sym li
{
    transform: translateY(0px);
    opacity: 1;
}
.ourteam .card .sym li a
{
    color: #fff;
    font-size: 24px;
}
.ourteam1
{
    background: #000;
}
.contact
{
    background: #111;
}
.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contactInfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}  
.formBx form textarea
{
    min-height: 200px;
}  
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
    color: #999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright
{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*Responsive*/
@media (max-width:991px)
{
   header,
   header.sticky 
   {
       padding: 10px 50px;
       z-index: 1000;
   }
   .menu
   {
       position: fixed;
       top: 75px;
       left: -100%;
       display: block;
       padding: 100px 50px;
       text-align: center;
       width: 100%;
       height: 100vh;
       background: #fff;
       transition: 0.5s;
       z-index: 999;
       border-top: 1px solid rgba(0, 0, 0, 0.2);
   }
   .menu.active
   {
       left: 0;
   }
   header ul li a
   {
       color: #111;
       font-size: 24px;
       margin: 10px;
   }
   .toggle
   {
       width: 40px;
       height: 40px;
       background: url(menu.png);
       background-position: center;
       background-repeat: no-repeat;
       background-size: 30px;
       cursor: pointer;
   }
   .toggle.active
   {
       background: url(close.png);
       background-position: center;
       background-repeat: no-repeat;
       background-size: 25px;
       cursor: pointer;
       
   }
   header.sticky .toggle
   {
       filter: invert(1);
   }
   section
   {
       padding: 100px 50px;
   } 
   .banner
   {
       padding: 150px 50px 100px;
   }
   .banner h2
   {
       font-size: 1.5em;
   }
   .banner h3
   {
       font-size: 1em;
   }
   .btn
   {
       margin-top: 10px;
       padding: 10px 20px;
       font-size: 16px;
   }
   .heading h2
   {
       font-size: 24px;
   }
   .contentBx h3
   {
       font-size: 20px;
   }
   .content
   {
       flex-direction: column;
   }
   .w50
   {
       margin-bottom: 20px;
   }
   .Upcoming .content .UpcomingBx
   {
       margin: 10px;
   }
   .ourteam .card
   {
       margin: 5px;
   }
}

@media (max-width: 600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    .section
    {
        padding: 100px 20px;
    }
}
